In [1]:
import pandas as pd
import numpy as np
import simplejson
from datetime import datetime, timedelta

'''
data preprocessing / cleaning
- working with text data / regex
- datetime
- categorical data
- imputation
- maybe even merging dataframes
'''

'\ndata preprocessing / cleaning\n- working with text data / regex\n- datetime\n- categorical data\n- imputation\n- maybe even merging dataframes\n'

# Exercise 1: Create a new column that contains only the zipcode.

In [2]:
# Lets open the dataset
dataB = []
with open('yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json') as f:
    for line in f:
        dataB.append(simplejson.loads(line))
dfB = pd.DataFrame(dataB[:5000])
dfB.head(3)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,"{'Accepts Credit Cards': True, 'Attire': 'casu...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Tuesday': {'close': '21:00', 'open': '11:00'...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business
1,"{'Price Range': 1, 'Accepts Credit Cards': Tru...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business
2,{'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],False,5,2.5,PA,business

In [3]:
# Lets see if we can pull out the zipcode for one entry.
dfB.full_address[0].split(' ')[-1]

'15034'

## Lets now build a function that extracts the zipcode and adds it to a new column

In [4]:
dfB['zipcode'] = dfB.apply(lambda x: x['full_address'].split(' ')[-1], 1)

In [5]:
dfB.head(3)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,zipcode
0,"{'Accepts Credit Cards': True, 'Attire': 'casu...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Tuesday': {'close': '21:00', 'open': '11:00'...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business,15034
1,"{'Price Range': 1, 'Accepts Credit Cards': Tru...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business,15034
2,{'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],False,5,2.5,PA,business,15234

# Exercise 2: The table contains a column called 'categories' and each entry in this column is populated by a list. We are interested in those businesses that restaurants. Create a new column 'Restaurant_type' that contains a description of the restaurant based on the other elements of 'categories. 
## That is, if we have '[Sushi Bars, Japanese, Restaurants]' in categories the 'Restaurant_type will be '{'SushiBars': 1, 'Japanese': 1, 'Mexican': 0, ...}'

In [6]:
dfB.categories[:5]

0                             [Fast Food, Restaurants]
1                                          [Nightlife]
2                       [Active Life, Mini Golf, Golf]
3    [Bars, American (New), Nightlife, Lounges, Res...
4                                  [Active Life, Golf]
Name: categories, dtype: object

### Lets get all the different restaurant descriptions.

In [7]:
RestCat = {}
for index, row in dfB.iterrows():
    if 'Restaurants' in row['categories']:
        for el in row['categories']:
            if el != 'Restaurants':
                RestCat[el] = 0

In [8]:
list(RestCat)[:5]

['Bed & Breakfast', 'Seafood', 'Pool Halls', 'Ramen', 'Lebanese']

In [9]:
# This function will get the categories and if it is not a restaurant then write 'remove'.
def Cat(row):
    d = dict(RestCat)
    if 'Restaurants' in row['categories']:
        for el in row['categories']:
            if el in d.keys():
                d[el] = 1
            else:
                d[el] = 0
    else:
        d = 'Remove'
    return d

In [10]:
dfB['Restaurant_type'] = dfB.apply(lambda x: Cat(x), 1)

In [12]:
dfB.head(3)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type,zipcode,Restaurant_type
0,"{'Accepts Credit Cards': True, 'Attire': 'casu...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Tuesday': {'close': '21:00', 'open': '11:00'...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business,15034,"{'Bed & Breakfast': 0, 'Seafood': 0, 'Pool Hal..."
1,"{'Price Range': 1, 'Accepts Credit Cards': Tru...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business,15034,Remove
2,{'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],False,5,2.5,PA,business,15234,Remove

# Exercise 3: Lets clean the 'attributes' column. The entries in on this column are dictionaries. We need to do two things: 
## 1) Turn all the True or False in the dictionary to 1s and 0s.
## 2) There are some entries within dictionaries that are dictionaries themselves, lets turn the whole entry into just one dictionary, for example if we have 
### '{'Accepts Credit Cards': True, 'Alcohol': 'none','Ambience': {'casual': False,'classy': False}}' 
### then turn it into
### '{'Accepts Credit Cards':1, 'Alcohol': 0, 'Ambience_casual': 0, 'Ambience_classy': 0}'. 
### There might be other entries like {'Price Range': 1} where the values are numerical so we might want to change that into {'Price_Range_1': 1}.

In [13]:
# This function will do a couple of things
def Flat(row):
    d = row['attributes']
    d1 = {}
    for el in d.keys():
        # If the entry is boolean turn it into a 1 or 0
        if type(d[el]) == bool:
            d1[el] = int(d[el])
            
        # If the entry is a string then join them together    
        elif type(d[el]) == str:
            label = '{}_{}'.format(el, d[el])
            d1[label] = 1

        # If it is an integer join them together
        elif type(d[el]) == int:
            label = '{}_{}'.format(el, d[el])
            d1[label] = 1
            
        # If it is a dictionary go down one level     
        elif type(d[el]) == dict:
            for elem in d[el].keys():
                label = '{}_{}'.format(el, elem)
                d1[label] = int(d[el][elem])
                
        # Lets make a print 'else' case to see if we are missing any cases.
        else:        
            print(el, d[el])        
    return d1

# Exercise 4: Create a new column for every day of the week and fill it with the amount of hours the business is open that day.

In [14]:
dfB.hours[0]

{'Friday': {'close': '21:00', 'open': '11:00'},
 'Monday': {'close': '21:00', 'open': '11:00'},
 'Thursday': {'close': '21:00', 'open': '11:00'},
 'Tuesday': {'close': '21:00', 'open': '11:00'},
 'Wednesday': {'close': '21:00', 'open': '11:00'}}

In [15]:
days = ['Sunday', 'Monday', 'Tuesday', 
        'Wednesday', 'Thursday', 'Friday', 
        'Saturday']

In [16]:
# This function will parsed the time
FMT = '%H:%M'
Oneday = datetime.strptime('23:00', FMT)
def Time(row, date):
    try:
        closing = datetime.strptime(row['hours'][date]['close'], FMT)
        opening = datetime.strptime(row['hours'][date]['open'], FMT)
        Oneday = datetime.strptime('23:59', FMT)
        time = closing - opening
        if time < timedelta(days=0):
            time = Oneday(time + timedelta(days=time.days()))
        
    except:
        time = datetime.strptime('00:00', FMT) - datetime.strptime('00:00', FMT)
    return time

In [17]:
# Create a table for each day
for day in days:
    dfB[day] = dfB.apply(lambda x: Time(x, day), 1)

In [18]:
dfB.head(3)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,...,type,zipcode,Restaurant_type,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday
0,"{'Accepts Credit Cards': True, 'Attire': 'casu...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Tuesday': {'close': '21:00', 'open': '11:00'...",40.354327,-79.900706,Mr Hoagie,[],...,business,15034,"{'Bed & Breakfast': 0, 'Seafood': 0, 'Pool Hal...",0 days,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,0 days
1,"{'Price Range': 1, 'Accepts Credit Cards': Tru...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],...,business,15034,Remove,0 days,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0 days
2,{'Good for Kids': True},cE27W9VPgO88Qxe4ol6y_g,"[Active Life, Mini Golf, Golf]",Bethel Park,"1530 Hamilton Rd\nBethel Park, PA 15234",{},40.354115,-80.014660,Cool Springs Golf Center,[],...,business,15234,Remove,0 days,00:00:00,00:00:00,00:00:00,00:00:00,00:00:00,0 days

# Exercise 5: Create a table with the average review for a business.

In [19]:
# Lets open the 'review' dataset.
dataR = []
with open('yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_review.json') as f:
    for line in f:
        dataR.append(simplejson.loads(line))
dfR = pd.DataFrame(dataR[:5000])
dfR.head(3)

,business_id,date,review_id,stars,text,type,user_id,votes
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'cool': 0, 'funny': 0, 'useful': 0}"
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'cool': 0, 'funny': 0, 'useful': 0}"
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,fFSoGV46Yxuwbr3fHNuZig,5,Yes this place is a little out dated and not o...,review,auESFwWvW42h6alXgFxAXQ,"{'cool': 0, 'funny': 1, 'useful': 1}"

In [20]:
# Lets create a table for the average and then join it to our existing table
avgR = dfR.groupby('business_id')['stars'].mean().reset_index()
avgR.columns = ['business_id', 'star_avg']

In [21]:
avgR.head(3)

              business_id  star_avg
0  -Gfj1gA0Ir07zToO-4fBpw  4.772727
1  -iVcmhjfq79QoTWzrb6pKg  4.263889
2  -nO_qj9eP-os3baYyh8eNA  4.200000

In [22]:
dfR = dfR.merge(avgR, how='left', on='business_id')
dfR.head(3)

,business_id,date,review_id,stars,text,type,user_id,votes,star_avg
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'cool': 0, 'funny': 0, 'useful': 0}",3.428571
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'cool': 0, 'funny': 0, 'useful': 0}",3.428571
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,fFSoGV46Yxuwbr3fHNuZig,5,Yes this place is a little out dated and not o...,review,auESFwWvW42h6alXgFxAXQ,"{'cool': 0, 'funny': 1, 'useful': 1}",3.428571

# Exercise 6: Create a new table that only contains restaurants with the following schema:
## Business_Name | Restaurant_type | Friday hours | Saturday hours | Attributes | Zipcode | Average Rating

In [23]:
# Lets join the tables
dfAll = dfR.merge(dfB, how='left', on='business_id')
dfAll.head(3)

,business_id,date,review_id,stars_x,text,type_x,user_id,votes,star_avg,attributes,...,type_y,zipcode,Restaurant_type,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday
0,5UmKMjUEUNdYWqANhGckJw,2012-08-01,Ya85v4eqdd6k9Od8HbQjyA,4,"Mr Hoagie is an institution. Walking in, it do...",review,PUFPaY9KxDAcGqfsorJp3Q,"{'cool': 0, 'funny': 0, 'useful': 0}",3.428571,"{'Accepts Credit Cards': True, 'Attire': 'casu...",...,business,15034,"{'Bed & Breakfast': 0, 'Seafood': 0, 'Pool Hal...",0 days,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,0 days
1,5UmKMjUEUNdYWqANhGckJw,2014-02-13,KPvLNJ21_4wbYNctrOwWdQ,5,Excellent food. Superb customer service. I mis...,review,Iu6AxdBYGR4A0wspR9BYHA,"{'cool': 0, 'funny': 0, 'useful': 0}",3.428571,"{'Accepts Credit Cards': True, 'Attire': 'casu...",...,business,15034,"{'Bed & Breakfast': 0, 'Seafood': 0, 'Pool Hal...",0 days,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,0 days
2,5UmKMjUEUNdYWqANhGckJw,2015-10-31,fFSoGV46Yxuwbr3fHNuZig,5,Yes this place is a little out dated and not o...,review,auESFwWvW42h6alXgFxAXQ,"{'cool': 0, 'funny': 1, 'useful': 1}",3.428571,"{'Accepts Credit Cards': True, 'Attire': 'casu...",...,business,15034,"{'Bed & Breakfast': 0, 'Seafood': 0, 'Pool Hal...",0 days,10:00:00,10:00:00,10:00:00,10:00:00,10:00:00,0 days

## Lets remove all the businesses that are not restaurants.

In [25]:
dfAll = dfAll[dfAll['Restaurant_type'] != 'Remove']

In [28]:
dfAll = dfAll[['name', 'Restaurant_type', 'Friday', 
               'Saturday', 'attributes', 'zipcode', 
               'star_avg']]

In [29]:
dfAll.head(3)

,name,Restaurant_type,Friday,Saturday,attributes,zipcode,star_avg
0,Mr Hoagie,"{'Bed & Breakfast': 0, 'Seafood': 0, 'Pool Hal...",10:00:00,0 days,"{'Accepts Credit Cards': True, 'Attire': 'casu...",15034,3.428571
1,Mr Hoagie,"{'Bed & Breakfast': 0, 'Seafood': 0, 'Pool Hal...",10:00:00,0 days,"{'Accepts Credit Cards': True, 'Attire': 'casu...",15034,3.428571
2,Mr Hoagie,"{'Bed & Breakfast': 0, 'Seafood': 0, 'Pool Hal...",10:00:00,0 days,"{'Accepts Credit Cards': True, 'Attire': 'casu...",15034,3.428571